<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Finer Threads</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="/assets/imgs/theme/logo.png" class="logo" alt="Finer Threads">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <!-- <li class="menu-item active">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="./product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./user"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./category"> <i class="icon material-icons md-category"></i>
                        <span class="text">category</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-local_activity"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form> -->
            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Welcome <%=username %></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="./adminlogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                </ul>
            </div>
        </header>
<section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Product Edit</h2>
        
      </div>
      
    </div>
    
    </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <!-- <h1 class="card-title text-center mb-4">Edit User</h1> -->
              <form action="/admin/productUpdate" method="POST" enctype="multipart/form-data">
                <br>
                <p id="name-error"></p>
                <div class="form-group">
                <input type="hidden" name="oldProdName" value="<%= productData.name %>">
                  <label for="username" style="font-size:large;">Enter new name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="productName"
                    name="newProdName"
                    value="<%= productData.name %>"
                    onkeyup="validateName()"
                  />
                 <p><br></p>
                  
                </div>
                <div class="form-group">
                  <p id="cat-error"></p>
                  <label for="description" style="font-size:large;">Choose new category</label>
                  <select class="form-control" onkeyup="catOffer()" id="productCategory" name="newProdCat" required>
          
                    <option value="<%= productData.category %>" selected><%= productData.category %></option>
                    <% for(let a of category) { %>
                        <% if (a.name !== productData.category) { %>
                            <option value="<%=a.name %>"><%=a.name %></option> 
                        <% } %>
                    <% } %>
                </select> 
                </div>
                <br>
                <p id="price-error"></p>
                <label for="username" style="font-size:large;">Update Rate</label>
                  <input
                    type="number"
                    class="form-control"
                    id="productPrice"
                    name="newProdRate"
                    value="<%= productData.rate %>"
                    min="0"
                    onkeyup="proPrice()"
                  /><br>
                  <div class="form-group">
                    <p id="offer-error"></p>
                    <label for="username" style="font-size:large;">Offer</label>
                    <input type="number" min="0" onkeyup="proOffer()" placeholder="Product offer" value="<%=productData.offer %>" class="form-control" id="offerValue" max="99" name="offer" >
                  </div>
                  <p id="qty-error"></p>
                  <label for="username" style="font-size:large;">Update Quantity</label>
                  <input
                    type="number"
                    class="form-control"
                    id="productQuantity"
                    name="newProStock"
                    value="<%=productData.stock %>"
                    min="0"
                    onkeyup="proqty()"
                  /><br>
                  <p class="help-block text-danger" id="disc_error"></p>
                  <label for="username" style="font-size:large;">Update Description</label>
                  <input
                    type="text"
                    class="form-control"
                    id="productDescription"
                    name="newProdDesc"
                    value="<%=productData.description %>"
                    onkeyup="validateDiscription()"
                  /><br>
                  <% for(let i=0; i<totalImages+1; i++){ %>
                    <div class="row">
                    <div style="display: flex; align-items: center;">
                      <p id="img-error"></p>
                    <input type="text" value="<%=i %>" name="image <%=i %>" hidden >
                    <% if(i<totalImages) {%>
                    <img src="/<%= allOldData.image[i] %>"  style="height: 100px; width: 130px; padding: 10px;">
                    <a class="btn btn-sm btn-danger" onclick="window.location.reload()" href="/admin/pImageDelete?id=<%=allOldData.image[i] %>&&pName=<%=productData.name %>">X</a>
                      <% }%>
                    </div>
                    <% if(i >= totalImages) { %>
                    <div><input name="<%=i%>Image" type="file" class="form-control" id="fileInput" onclick="imgup()" <% if (i>= 5) { %>hidden<% } %>  accept="image/*" class='form' >
                    </div>
                    <% } %>
                  </div>
                <% } %>
                <label style="color: rgb(240, 105, 132);">Maximum 5 Images Per Product</label>
                <br>
                <br>
                <span id="submit-error"></span>
                <button type="submit" onclick="validateForm()" class="btn btn-primary btn-block">
                  Update
                </button>
                <a style="margin-left:40%; " href="/admin/product" class="btn btn-danger">Go Back</a>
              </form>
               </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Finer Therads</p>
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                <!-- All rights reserved -->
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendors/select2.min.js"></script>
<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/js/custom-chart.js" type="text/javascript"></script>
</body>
<script defer src="https://cdn.crop.guide/loader/l.js?c=SCTTGY"></script>
<script>
  var nameError = document.getElementById('name-error');
  var discError = document.getElementById('disc_error');
  var priceError = document.getElementById('price-error');
  var proError = document.getElementById('offer-error');
  var catError = document.getElementById('cat-error'); 
  var qtyError = document.getElementById('qty-error'); 
  var imgError = document.getElementById('img-error');
  var submitError = document.getElementById('submit-error');
 
 
 
 
  function validateName()
     {
         var name = document.getElementById('productName').value;
         if(name.length ==0)
         {
             nameError.innerHTML ='<p class="help-block text-danger">Product name is required !</p>';
             return false;
         }
         if(!name.match(/^[A-Za-z]/)){
             nameError.innerHTML ='<p class="help-block text-danger">Product name Invalid !</p>';
             return false;
             
         }
         nameError.innerHTML ="";
         return true;
     }
 
  
   function validateDiscription()
       {
           var disc = document.getElementById('productDescription').value;
           var required =25;
            var left = required - disc.length;
           if(disc.length == 0)
           {
               disc_error.innerHTML ='<p class="help-block text-danger">product discription is required</p>';
               return false;
           }
           if(left>0)
           {
 
               discError.innerHTML = left +' more characters required';
               return false;
             
           }
               discError.innerHTML ="";
               return true;
       }
  
   function proPrice()
     {
 
         var price = document.getElementById('productPrice').value;
         if(price==0)
         {
           priceError.innerHTML='<p class="help-block text-danger"> Price can not be empty </p>';
           return false;
         }
        if(price<0){
         priceError.innerHTML='<p class="help-block text-danger"> Invalid input! Please enter a positive number.</p>' ;
         return false;
 
        }
         priceError.innerHTML ="";
         return true;
 
 
     }
 
 
   function proOffer()
     {
       var offerprice = document.getElementById('offerValue').value;
       if(offerprice=="")
       {
         proError.innerHTML= '<p class="help-block text-danger"> Please Enter the offer';
         return false;
       }
       if(offerprice<0)
       {
         proError.innerHTML= '<p class="help-block text-danger"> Invalid Offer Value! Please Enter a Positive Number';
         return false;
       }
         proError.innerHTML="";
         return true;
     
     }
 
   function catOffer()
     {
       var procat = document.getElementById('productCategory').value;
       if(procat=="")
       {
         catError.innerHTML='<p class="help-block text-danger"> select any category.</p>';
          return false;
       }
         catError.innerHTML="";
         return true;
 
     }
 
 
     function proqty()
     {
 
         var proqty = document.getElementById('productQuantity').value;
        //  if(proqty==0)
        //  {
        //    qtyError.innerHTML='<p class="help-block text-danger"> Quantity can not be empty </p>';
        //    return false;
        //  }
        if(proqty<0){
         qtyError.innerHTML='<p class="help-block text-danger"> Invalid input! Please enter a positive number.</p>' ;
         return false;
 
        }
        qtyError.innerHTML ="";
         return true;
 
 
     }
 
     function validateImageUpload()
     {
     var fileInput = document.getElementById('productImage');
     var file = fileInput.files[0];
     var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i; // Define allowed image file extensions
 
     if (!file) {
         // No file selected
         imageError.innerHTML = '<p class="help-block text-danger">Please select an image.</p>';
         return false;
     }
 
     if (!allowedExtensions.exec(file.name)) {
         // Invalid file type
         imageError.innerHTML = '<p class="help-block text-danger">Invalid file type. Only JPG, JPEG, PNG, or GIF files are allowed.</p>';
         return false;
     }
 
     // Add any additional validation rules here, such as file size
 
     imageError.innerHTML = ""; // Clear any previous error message
     return true;
   }
 
 
   function validateForm()
     {
         if(!validateName() || !validateDiscription() || !proPrice() || !proOffer() || !catOffer() || !proqty() || !alidateImageUpload())
         {
             submitError.style.display ='block';
             submitError.style.color ='red';
             submitError.innerHTML = 'please fill the all field';
             setTimeout(function(){submitError.style.display ='none';}, 3000);
             return false;
           
         }
     }
 
   
 </script>
</html>
