<%- include ('adminHeader') %>


<section class="content-main">
    <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Category</h2>
          </div>
        </div>
  
  
        <div class="container-fluid" style="margin-left: 50px;margin-top:50px">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Add Category</button>
  
          <!-- Modal -->
          <form method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Enter the Category</h1>
                    <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p id="cat-name-error"></p>
                    <label for="">Enter </label>
                    <input type="text" placeholder="Enter the name" required id="catname" onkeyup="categoryName()" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('catname').value.length === 0) { return false; }" name="category" class="form-control">

                  </div>
                  <div class="modal-body">
                    <p id="cat-offer-error"></p>
                    <label for="">Offer </label>
                    <input type="number" placeholder="offer in %" required id="catoffer" onkeyup="categoryOffer()" name="offer" class="form-control">
                  </div>
                  <div class="modal-footer">
                    <span id="cat-submit-error"></span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" onclick="categorySubmit()" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          
        </div>
  
        <h3 id="categoryFound" style="color: rgb(0, 0, 0);"><%= categoryFound %></h3>
  
        <!-- <p><%#= c.name%></p> -->
  
  
        <div class="container mt-5 p-5">
          <div class="row">
  
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <!-- {{!-- <th scope="col">Product Name</th> --}} -->
                  <th scope="col">Category</th>
                  <!-- {{!-- <th scope="col">Count</th> --}} -->
                  <th>Status</th>
                  <th>Edit</th>
                  <th></th>
                  <th>Offer</th>
                </tr>
              </thead>
            
                <% listData.forEach(function(c, index) { %>
              <tbody>
                <tr>
                  <td><%= c.name %></td>
                  <!-- {{!-- <td>{{this.name}}</td> --}} -->
                  <td>
  
                    <a href="/admin/list/<%=c.name %>">
                      <% if (c.list){ %>
                      <button class="btn btn-success">Un List</button>
                      <% } else { %>
                      <button class="btn btn-danger">List</button>
                      <% } %>
                    </a>
  
                  </td> 
  
                  <td><!-- Button trigger modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2<%= index %>">Edit</button>
  
                    <!-- Modal -->
  
                    <div class="modal fade" id="exampleModal2<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <form action="/admin/editcat/<%=c.name %>" method="post">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p id="editcat-name-error"></p>
                              <label class="form-control-label">Category</label>
                              <input type="text" value="<%= c.name %>" required onkeyup="editCategoryName()" id="ecatname" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('ecatname').value.length === 0) { return false; }"  class="form-control" name="name">
                              <input type="text" value="<%= c.name %>" class="form-control" name="oldname" hidden>
                            </div>
                            <div class="modal-body">
                              <p id="editcat-offer-error"></p>
                              <label class="form-control-label">Offer</label>
                              <input type="text" value="<%= c.offer %>" onkeyup="editCategoryOffer()" id="ecatoffer" class="form-control" name="offer">
                            </div>  
                            <div class="modal-footer">
                              <span id="editcat-submit-error"></span>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" onclick="editCategorySubmit()" id="catsave" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                          </div>
                        </form>
                      </div>
                    </div>

                  </td>
                  <td><%= c.offer %> %</td>
                  <td>
                    <% if (c.offer){ %>
                    <button class="btn btn-success" disabled > Applied</button>
                    <% } else { %>
                    <button class="btn btn-danger" disabled >No offers</button>
                    <% } %>
                  </td>
  
                  <!-- </td>
                  <td><a href="/admin/deletecat/<%#c.name %>" class="btn btn-danger" onclick="return confirm(' Are you sure, You want to delete the product')">Delete</a></td> 
                </tr> -->
              </tbody>
              <% }); %>
              

            </table>
          </div>
        </div>
    <script>
      const value = document.getElementById('categoryFound')
      setTimeout(() => {
        value.style.display = " none"
      }, 5000)
  
    </script>

<script>

  var catnameError = document.getElementById('cat-name-error');
  var catofferError = document.getElementById('cat-offer-error');
  var catsubmitError = document.getElementById('cat-submit-error');
  
  function categoryName()
      {
          var catname = document.getElementById('catname').value;
          if(catname.length ==0)
          {
            catnameError.innerHTML ='<p class="help-block text-danger">category name is required !</p>';
              return false;
          }
          if(!catname.match(/^[A-Za-z]/)){
            catnameError.innerHTML ='<p class="help-block text-danger">category name Invalid !</p>';
              return false;
              
          }
          catnameError.innerHTML ="";
          return true;
      }
  
  
      function categoryOffer()
      {
        var catoffer = document.getElementById('catoffer').value;
        if(catoffer=="")
        {
          catofferError.innerHTML= '<p class="help-block text-danger"> Please Enter the offer';
          return false;
        }
        if(catoffer<0)
        {
          catofferError.innerHTML= '<p class="help-block text-danger"> Invalid Offer Value! Please Enter a Positive Number';
          return false;
        }
        catofferError.innerHTML="";
          return true;
      
      }
  
      function categorySubmit()
      {
          if(!categoryName() || !categoryOffer())
          {
              catsubmitError.style.display ='block';
              catsubmitError.style.color ='red';
              catsubmitError.innerHTML = 'please fill the all field';
              setTimeout(function(){catsubmitError.style.display ='none';}, 3000);
              return false;
          }
        
      }
  
  
  
    </script>

<script>

  var ecatnameError = document.getElementById('editcat-name-error');
  var ecatofferError = document.getElementById('editcat-offer-error');
  var ecatsubmitError = document.getElementById('editcat-submit-error');
  
  function editCategoryName()
      {
          var ecatname = document.getElementById('ecatname').value;
          if(ecatname.length ==0)
          {
            ecatnameError.innerHTML ='<p class="help-block text-danger">category name is required !</p>';
              return false;
          }
          if(!ecatname.match(/^[A-Za-z]/)){
            ecatnameError.innerHTML ='<p class="help-block text-danger">category name Invalid !</p>';
              return false;
              
          }
          ecatnameError.innerHTML ="";
          return true;
      }
  
  
      function editCategoryOffer()
      {
        var ecatoffer = document.getElementById('ecatoffer').value;
        if(ecatoffer=="")
        {
          ecatofferError.innerHTML= '<p class="help-block text-danger"> Please Enter the offer';
          return false;
        }
        if(ecatoffer<0)
        {
          ecatofferError.innerHTML= '<p class="help-block text-danger"> Invalid Offer Value! Please Enter a Positive Number';
          return false;
        }
        ecatofferError.innerHTML="";
          return true;
      
      }
  
      function editCategorySubmit()
      {
          if(!editCategoryName() || !editCategoryOffer())
          {
              ecatsubmitError.style.display ='block';
              ecatsubmitError.style.color ='red';
              ecatsubmitError.innerHTML = 'please fill the all field';
              setTimeout(function(){ecatsubmitError.style.display ='none';}, 3000);
              return false;
            
          }
      }
  
  
  
    </script>
  
  </section>


<%- include ('adminFooter') %>
