
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FINER THREADS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>






    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">
            <div class="acount head-acount">
                <div class="container">
                    <div id="main">
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- User Profile Card -->
                                    <div class="card profile-card" style="background-color: rgb(117, 115, 115);">

                                        <div class="card-body" style="display: flex; ">

                                            <!-- <img class="ml-5" height="50px" width="50px" src="../user/userpro.png"> -->

                                            <h5 class="card-title ml-4 mt-3"
                                                style="text-transform: uppercase;color: white;"><%=userin%>
                                            </h5>
                                        </div>
                                        <hr>
                                        <div class="card-body">
                                            <% if(userData) { %>
                                                <a href="/update-profile" style="color: white; text-decoration: none;">Update Profile</a>
                                            <% } else { %>
                                                <a href="/add-address" style="color: white; text-decoration: none;">Complete Profile</a>
                                            <% } %>
                                            
                                        </div>
                                        <div class="card-body">
                                            <a href="/wallet" style=" color: white; text-decoration: none;">Wallet Amount </a>

                                        </div>
                                        <div class="card-body">
                                            <a href="/orderhistory" style=" color: white; text-decoration: none;">Order History</a>

                                        </div>

                                        <div class="card-body">
                                            <a href="/userchangePassword" style=" color: white; text-decoration: none;">Change Password</a>

                                        </div>
                                        <div class="card-body">
                                            <a href="/" style=" color: white; text-decoration: none;"> Continue Shopping</a>
                                        </div>
                                        <div class="card-body">
                                            <a href="/logout" style=" color: white; text-decoration: none;">Logout</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <!-- User Details -->
                                    <div class="card user-details-card">
                                        <div class="card-body">
                                            <h5 class="card-title">User Details</h5>
                                            <ul class="list-group list-group-flush">

                                                <li class="list-group-item"><strong>Name: </strong> <%=username%>
                                                <li class="list-group-item"><strong>UserName: </strong> <%=userin%>
                                                <li class="list-group-item"><strong>Email: </strong> <%=user.email%>
                                                </li>
                                                <li class="list-group-item"><strong>Phone: </strong> <%=userData.phone%>
                                                </li>
                                                <li class="list-group-item"><strong>Address: </strong>
                                                    <%=userData.address.houseName%>,
                                                    <%=userData.address.city%></li>
                                                <li class="list-group-item"><strong>Pin Code: </strong>
                                                    <%=userData.address.pincode%></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- User Bio -->
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0 mt-2">
                                            <!-- <div class="card"> -->
                                                <div class="card-body" style="height: 10%;">

                                                    <!-- <h5 class="card-title" style="margin-left: 45%;">+</h5> -->
                                                    <div class="card-subtitle mb-2 text-body-secondary"
                                                        style="margin-left: 25%;">
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Add New Address
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <form action="/newAddress?username:<%=userin%>"
                                                                        method="post" id="modelForm">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title fs-5"
                                                                                id="exampleModalLabel">New Address</h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <div class="form-group">
                                                                                <label for="fullName">Full Name:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="userFullName" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('userFullName').value.length === 0) { return false; }" name="fullname"
                                                                                    required
                                                                                    placeholder="Enter your full name"
                                                                                    onkeyup="validateName(this)">
                                                                                <span id="nameError"></span>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="fullName">Phone:</label>
                                                                                <input type="number" class="form-control"
                                                                                    id="phone" name="phone" required
                                                                                    placeholder="Enter your number"
                                                                                    onkeyup="validatePhone()">
                                                                                <span id="phoneError"></span>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="addressLine1">House
                                                                                    Name:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="house" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('house').value.length === 0) { return false; }" name="house" required
                                                                                    placeholder="Enter your House Name"
                                                                                    onkeyup="validateHouse()">
                                                                                <span id="houseError"></span>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="addressLine1">City:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="city" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('city').value.length === 0) { return false; }" name="city" required
                                                                                    placeholder="Enter your City"
                                                                                    onkeyup="validateCity()">
                                                                                <span id="cityError"></span>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="addressLine1">State:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="state" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('state').value.length === 0) { return false; }" name="state" required
                                                                                    placeholder="Enter your State"
                                                                                    onkeyup="validateState()">
                                                                                <span id="stateError"></span>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label
                                                                                    for="addressLine1">Country:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="country" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('country').value.length === 0) { return false; }" name="country" required
                                                                                    placeholder="Enter your Country"
                                                                                    onkeyup="validateCountry()">
                                                                                <span id="countryError"></span>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="zipCode" required>PIN
                                                                                    Code:</label>
                                                                                <input type="number"
                                                                                    class="form-control" id="pincode"
                                                                                    name="pincode" required
                                                                                    placeholder="Enter your PIN code"
                                                                                    onkeyup="validatePincode()">
                                                                                <span id="pincodeError"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit"
                                                                                class="btn btn-primary">Save
                                                                                changes</button>
                                                                        </div>
                                                                    </form>
                                                                    <!-- {{!-- <span id="">Fill all the fileds</span> --}} -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"></p>
                                                    <a href="#" class="card-link"></a>
                                                    <a href="#" class="card-link"></a>
                                                </div>
                                            <!-- </div> -->
                                        </div>
                                        <% useraddress.forEach(function(address) { %>
                                            <div class="col-sm-6 mt-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Address</h5>
                                                        <h6 class="card-subtitle mb-2 text-body-secondary">
                                                            <strong>Name</strong>: <%= address.fullname %>
                                                        </h6>
                                                        <p class="card-text"><strong>Phone</strong>: <%= address.phone %></p>
                                                        <p class="card-text"><strong>Address</strong>: <%= address.address.houseName %>, <%= address.address.city %>, <%= address.address.state %><br><%= address.address.country %></p>
                                                        <p class="card-text"><strong>PIN Code</strong>: <%= address.address.pincode %></p>
                                                        <a href="/newAddressEdit?userid=<%= address._id %>" class="card-link" style="color: rgb(198, 92, 92); text-decoration: none;">Edit</a>
                                                        <a>|</a>
                                                        <a href="/removeAddress?userid=<%= address._id %>" class="card-link" style="color: rgb(198, 92, 92); text-decoration: none;" onclick="return confirm('Do you want to delete the address')">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





          <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Finer Therads</p>
            </div>


		</div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

<script>
    const nameError = document.getElementById('nameError');
    const phoneError = document.getElementById('phoneError');
    const houseError = document.getElementById('houseError');
    const cityError = document.getElementById('cityError');
    const stateError = document.getElementById('stateError');
    const countryError = document.getElementById('countryError');
    const pincodeError = document.getElementById('pincodeError');

    function validateName() {
        const name = document.getElementById('userFullName').value;
        if (name.length === 0) {
            nameError.innerHTML = 'Enter the name';
            nameError.style.color = 'red';
            return false;
        } else if (!name.match(/^[A-Za-z\s]+$/)) {
            nameError.innerHTML = 'Only alphabets and spaces are allowed';
            nameError.style.color = 'red';
            return false;
        }
        nameError.innerHTML = '';
        return true;
    }

    function validatePhone() {
        const phone = document.getElementById('phone').value;
        if (phone.length === 0) {
            phoneError.innerHTML = 'Enter the phone number';
            phoneError.style.color = 'red';
            return false;
        }
        phoneError.innerHTML = '';
        return true;
    }

    function validateHouse() {
        const house = document.getElementById('house').value;
        if (house.length === 0) {
            houseError.innerHTML = 'Enter the house name';
            houseError.style.color = 'red';
            return false;
        }
        houseError.innerHTML = '';
        return true;
    }

    function validateCity() {
        const city = document.getElementById('city').value;
        if (city.length === 0) {
            cityError.innerHTML = 'Enter the city name';
            cityError.style.color = 'red';
            return false;
        }
        cityError.innerHTML = '';
        return true;
    }

    function validateState() {
        const state = document.getElementById('state').value;
        if (state.length === 0) {
            stateError.innerHTML = 'Enter the state name';
            stateError.style.color = 'red';
            return false;
        }
        stateError.innerHTML = '';
        return true;
    }

    function validateCountry() {
        const country = document.getElementById('country').value;
        if (country.length === 0) {
            countryError.innerHTML = 'Enter the country name';
            countryError.style.color = 'red';
            return false;
        }
        countryError.innerHTML = '';
        return true;
    }

    function validatePincode() {
        const pincode = document.getElementById('pincode').value;
        if (pincode.length === 0) {
            pincodeError.innerHTML = 'Enter the pincode';
            pincodeError.style.color = 'red';
            return false;
        } else if (!pincode.match(/^[0-9]{6}$/)) {
            pincodeError.innerHTML = 'Enter a valid 6-digit pincode';
            pincodeError.style.color = 'red';
            return false;
        }
        pincodeError.innerHTML = '';
        return true;
    }

    function validateForm() {
        return validateName() && validatePhone() && validateHouse() && validateCity() && validateState() && validateCountry() && validatePincode();
    }
</script>


</body>

</html>