<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FINER THREADS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">

    <!-- Other Stylesheets -->
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <h2>Order Details</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-body">
                        <div style="display: flex;">
                            <div class="p-3">
                                <img src="<%= data[0].img %>" alt="Product Image" style="height: 150px;">
                                <h6 class="card-title">Order ID: <%= data[0].orderId %></h6>
                                <p class="card-text">Order Date: <%= data[0].orderDate.toLocaleDateString() %></p>
                            </div>
                            <div style="color: gray; margin-left: 10%;">
                                <h6 class="mt-4 mb-3">Product Name : <%= data[0].product %></h6>
                                <ul class="list-group">
                                    <li class="list-group-item">Quantity: <%= data[0].quentity %> | Price: <%= data[0].price %></li>
                                </ul>
                                <h6 class="mt-4">Total Price: <%= data[0].price %></h6>
                                <h6 class="mt-4">Amount Paid:₹ <%= data[0].amountPaid %></h6>
                            </div>
                        </div>
                        
                        <!-- Order Status -->
                        <div class="p-3">
                            <h5>Status</h5>
                            <% if (data[0].status === 'Delivered Successfully') { %>
                                <ul class="list-group">
                                    <% if (data[0].returnStatus) { %>
                                        <% if (data[0].returnStatus === 2) { %>
                                            <li class="list-group-item" style="color: red;">Return: Rejected</li>
                                        <% } else { %>
                                            <li class="list-group-item" style="color: green;">Return: Accepted</li>
                                        <% } %>
                                    <% } else { %>
                                        <% if (data[0].returnreason) { %>
                                            <li class="list-group-item" style="color: red;">Return: Pending</li>
                                        <% } else { %>
                                            <li class="list-group-item" style="color: green;">Delivered Successfully</li>
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                Return
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form action="/returnreason/<%= data[0].orderId %>?product=<%= data[0].product %>" method="post">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Return Product</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <label class="form-control-label">Reason</label>
                                                                <input type="text" class="form-control" name="reason">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-warning">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </ul>
                            <% } else if (data[0].status === 'CANCELED') { %>
                                <ul class="list-group">
                                    <li class="list-group-item" style="color: red;">CANCELED</li>
                                </ul>
                            <% } else { %>
                                <ul class="list-group">
                                    <li class="list-group-item" style="color: rgb(214, 190, 146);"><%= data[0].status %></li>
                                    <li class="list-group-item"><a href="/cancelProduct?orderId=<%= data[0].orderId %>&product=<%= data[0].product %>" class="btn btn-sm btn-danger">Cancel</a></li>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shipping Address -->
            <div class="col-md-4">
                <div class="card" style="background-color: rgb(35, 34, 34);">
                    <div class="card-body" style="color: white;">
                        <h5 class="card-title">Shipping Address</h5>
                        <p class="card-text">Name : <%= data[0].username %></p>
                        <p class="card-text">House Name : <%= data[0].address.houseName %></p>
                        <p class="card-text">City: <%= data[0].address.city %></p>
                        <p class="card-text">Country: <%= data[0].address.country %></p>
                        <p class="card-text">Pin Code: <%= data[0].address.pincode %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- Footer Section Begin -->
<footer class="footer-section spad">
    <div class="container">
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>About us</h4>
                        <ul>
                            <li>About Us</li>
                            <li>Community</li>
                            <li>Jobs</li>
                            <li>Shipping</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Customer Care</h4>
                        <ul>
                            <li>Search</li>
                            <li>Privacy Policy</li>
                            <li>2019 Lookbook</li>
                            <li>Shipping & Delivery</li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Our Services</h4>
                        <ul>
                            <li>Free Shipping</li>
                            <li>Free Returnes</li>
                            <li>Our Franchising</li>
                            <li>Terms and conditions</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Information</h4>
                        <ul>
                            <li>Payment methods</li>
                            <li>Times and shipping costs</li>
                            <li>Product Returns</li>
                            <li>Shipping methods</li>
                            <li>Conformity of the products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
            </div>
        </div>

<div class="container text-center pt-5">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Finer Therads</p>
        </div>


    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

</body>

</html>