
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FINER THREADS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>







<div class="acount head-acount">
    <div class="container">
        <div id="main">
            <h1 class="title-page">Profile </h1>
            <div class="content" id="block-history">
                <% if(userProfile) { %> 
                <form id="customer-form" action="/update-profile" method="post">
                    <!-- {{!-- <input type="hidden" name="back" value="my-account"> --}} -->
                    <div class="form-group no-gutters">
                        <label for="">Full Name: </label>
                        <input class="form-control" required id="fullname" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('fullname').value.length === 0) { return false; }" name="username" type="text"
                            value="<%=userProfile.fullname%>" data-msg="Please enter your username">
                    </div>
                    <!-- {{!-- <div class="form-group no-gutters">
                        <label for="">Email Address: </label>
                        <input class="form-control" name="email" type="email"
                            placeholder="{{userProfile.email}}" data-msg="Please enter your username"
                            readonly>
                    </div> --}} -->
                    <div class="form-group no-gutters">
                        <label for="">Phone Number: </label>
                        <input class="form-control" required name="phone" type="number" value="<%=userProfile.phone%>"
                            data-msg="Please enter your username">
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">House Name: </label>
                        <input class="form-control" name="house" id="housename" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('housename').value.length === 0) { return false; }" required type="text"
                            value="<%=userProfile.address.houseName%>" data-msg="Please enter your username">
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">City: </label>
                        <input class="form-control" required id="cityy" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('cityy').value.length === 0) { return false; }" name="city" type="text"
                            value="<%=userProfile.address.city%>" data-msg="Please enter your username">
                    </div>

                    <div class="form-group no-gutters">
                        <label for="">State: </label>
                        <input class="form-control" required id="state" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('state').value.length === 0) { return false; }" name="state" type="text"
                            value="<%=userProfile.address.state%>" data-msg="Please enter your username">
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">Pin Code: </label>
                        <input class="form-control" required name="pin" type="number"
                            value="<%=userProfile.address.pincode%>" data-msg="Please enter your username">
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">Country: </label>
                        <input class="form-control" required id="country" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('country').value.length === 0) { return false; }" name="country" type="text"
                            value="<%=userProfile.address.country%>" data-msg="Please enter your username">
                    </div>

                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
                <% } else { %>
                <form id="customer-form" action="/add-address" method="post">
                    <!-- {{!-- <input type="hidden" name="back" value="my-account"> --}} -->
                    <div class="form-group no-gutters">
                        <label for="">Full Name: </label>
                        <input class="form-control" name="username" id="eusername" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('eusername').value.length === 0) { return false; }" type="text" placeholder=" Full Name"
                            data-msg="Please enter your Full Name" required>
                    </div>
                    <!-- {{!-- <div class="form-group no-gutters">
                        <label for="">Email Address: </label>
                        <input class="form-control" name="email" type="email" placeholder="Email Address"
                            data-msg="Please enter your username">
                    </div> --}} -->
                    <div class="form-group no-gutters">
                        <label for="">Phone Number: </label>
                        <input class="form-control" name="phone" type="number" placeholder="Phone Number"
                            data-msg="Please enter your Phone Number" required>
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">House Name: </label>
                        <input class="form-control" name="house" id="ehouse" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('ehouse').value.length === 0) { return false; }" type="text" placeholder="House Name"
                            data-msg="Please enter your House Name" required>
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">City: </label>
                        <input class="form-control" name="city" id="ecity" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('ecity').value.length === 0) { return false; }" type="text" placeholder="City"
                            data-msg="Please enter your City" required>
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">State: </label>
                        <input class="form-control" name="state" id="estate" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('estate').value.length === 0) { return false; }" type="text" placeholder="State"
                            data-msg="Please enter your state" required>
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">Pin Code: </label>
                        <input class="form-control" name="pin" type="number" placeholder="Pin Code"
                            data-msg="Please enter your Pin Code" required>
                    </div>
                    <div class="form-group no-gutters">
                        <label for="">Country: </label>
                        <input class="form-control" name="country" id="ecountry" onkeydown="if(arguments[0].code === 'Space' && document.getElementById('ecountry').value.length === 0) { return false; }" type="text" placeholder="Country"
                            data-msg="Please enter the Country" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Data</button>


                </form>
                <% } %>

            </div>
        </div>

    </div>
</div>
</div>
</div>







       <!-- Footer Section Begin -->
       <footer class="footer-section spad">
        <div class="container">
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Finer Therads</p>
            </div>


		</div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>